@import "/src/colors";

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    width: 60vw;
    height: 36vw;
    border-radius: 5vw;
    padding: 1vw;
    color: white;
    z-index: 2;

    h2 {
        font-size: 1.7vw;
        font-weight: normal;
    }
}