@import "/src/colors";

.area-cliente-container {
    display: flex;
    background-color: $primary-color-dark;
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    padding: 2vw;

    h2 {
        font-size: 2vw;
        font-weight: normal;
    }

    .cliente-info-container {
        flex: 0.6;
        display: flex;
        flex-direction: column;
        outline: 1px solid red;
        padding-right: 1vw;

        .area-cliente-title {
            display: flex;
            justify-content: space-between;

            .button-component {
                font-size: 1vw;
            }
        }

        p {
            color: $background-color;
            cursor: pointer;
            width: fit-content;
        }

        p:hover {
            text-decoration: underline;
        }

        .cliente-info-container {
            margin: auto 0;

            h1 {
                font-size: 3vw;
                font-weight: normal;
                span {
                    color: $background-color;
                    font-size: 1vw;
                    margin-left: 1vw;
                }
            }
    
            h3 {
                display: flex;
                align-items: center;
                font-weight: normal;
                font-size: 1.5vw;
                span {
                    color: $background-color;
                    font-size: 2.5vw;
                    margin: 0 2vw;
                }
            }
        }


        .how-to-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: auto;

            .tabs {
                display: flex;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 2vw;
                    border-top-right-radius: 2vw;
                    height: 3vw;
                    width: 35%;
                    background-color: lighten($primary-color-dark, 5%);
                    cursor: pointer;
                }

                .active {
                    background-color: darken($primary-color-dark, 5%);
                }
            }

            .info {
                background-color: darken($primary-color-dark, 5%);
                width: 100%;
                height: 10vw;
                border-top-right-radius: 2vw;
                border-bottom-right-radius: 2vw;
                border-bottom-left-radius: 2vw;
            }
        }
    }
    .history-container-wrapper {
        flex: 0.4;
        margin: -1vw -1vw 0 0;
    }
}