@import '/src/colors';

.custom-input {
    width: 100%;
    height: 2.8vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    padding: 0 1.5vw;
    background-color: $input-background-color;
    font-size: 1.5vw;
}