$background-color: #eee643;
$primary-color: #094e93;
$primary-color-dark: #074583;
$input-background-color: #fffffff0;
$text-removido: #ce2031;
$text-adicionado: #20ce77;

:export {
    background_color: $background-color;
    primary_color: $primary-color;
    primary_color_dark: $primary-color-dark;
    input_background_color: $input-background-color;
    text_removido: $text-removido;
    text_adicionado: $text-adicionado;
}