@import '/src/colors';

.button-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border: 0.45vw solid $background-color;
    border-radius: 5vw;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.7vw;
    color: white;
    user-select: none;
}

.button-component:hover {
    background-color: $background-color;
    color: $primary-color;
}